extends ../layouts/main-layout.pug

block main-content
    main
        form(action="/admin/add-product", method="POST", class="add-product-form")
            input(type="hidden" value=csrfToken name="_csrf")
            label Name
            br
            input(type="text", name="name")
            br
            label Description
            br
            input(type="text", name="description")
            br
            label Price
            br
            input(type="text", name="price")
            br
            button.btn-submit(type="submit") Add Product