html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        header
            nav
                ul.list
                    li.item
                        a(href="/products", class=(path === 'shop' ? 'active' : '')) Shop
                    if isLoggedIn
                        li.item
                            a(href="/admin/add-product", class=(path === 'add-product' ? 'active' : '')) Add Product
                ul.list
                    if !isLoggedIn
                        li.item(class="login")
                            a(href="/login", class=(path === 'login' ? 'active' : '')) Login
                    else
                        li.item(class="logout")
                            a(href="/logout", class='logout') Logout
        block main-content