extends layouts/main-layout.pug

block main-content
    main
        h1 My Cart
        if products.length > 0
            each product in products
                h2.product-title #{product.title}
                p.price $19.90
                p.description Great Book by Author
        else
            .no-products No products in your cart!!